<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modal Creation</title>
    <link rel="stylesheet" href="../templates/style.css">
</head>
<body class="body">
    <a href="#" onclick="showModal()">  <h3> Open Modal </h3></a>
    
    <div class="my-modal hidden">
        <div class="modal-header">
            <span class="modal-title">Modal Header</span>
            <span onclick="hideModal()"> <button id="close-icon" class="close-icon" type="button"> X </button></span>
        </div>
        <hr>
        <div class="modal-body">
            <p> Modal body here...</p>
        </div>
        <hr>
        <div class="modal-footer">
            <button type="button" onclick="hideModal()"> Close </button>
            <button type="submit" onclick="hideModal()" onblur="routeFocus()"> OK </button>
        </div>
    </div>
</body>
<script type="text/javascript">
    function showModal(){
        document.getElementsByClassName('my-modal')[0].classList.remove('hidden');
        document.getElementsByClassName('body')[0].classList.add('gray-background');
    }
    
    function hideModal(){
        document.getElementsByClassName('my-modal')[0].classList.add('hidden');
        document.getElementsByClassName('body')[0].classList.remove('gray-background');
    }
    
    function routeFocus(){
        document.getElementById('close-icon').focus();
    }
</script>
</html>